@model Person

<h1>Add new person</h1>

<div>
	<form asp-action="AddToList">
		<input type="text" name="id" value="@Model.Id" hidden />
		<label>Name	: </label>
		<input type="text" asp-for="Name" value="" />
		<label>Role: </label>
		<input type="text" asp-for="Role" value="" />

		<input type="submit" value="Add Film" />
	</form>
</div>