@model CinemaApp.Models.ViewModel.PersonFilmViewModel

<div>
	<form asp-action="AddFilmToPerson" method="post">
		<p>
			<select asp-for="FilmId" asp-items="@Model.Films" />
		</p>
		<p>
			<select asp-for="PersonId" asp-items="@Model.Persons" />
		</p>
		<input class="btn btn-primary" type="submit" value="Add film to person"/>
	</form>

	<select asp-items="@Model.Persons">

	</select>
</div>