@model CinemaApp.Models.ViewModel.PersonFilmViewModel

<form asp-action="AddFilmToPerson" method="post">
    <select asp-for="PersonId" asp-items="@Model.Persons"> </select>

    <select asp-for="FilmId" asp-items="@Model.Films"> </select>

    <input type="submit" value="Привязать данные" />
</form>