@model Person

<h1>Edit person @Model.Id</h1>

<div>
	<form asp-action="Update">
		<input type="text" asp-for="Id" hidden/>
		<label>Name	: </label>
		<input type="text" asp-for="Name" />
		<label>Role: </label>
		<input type="text" asp-for="Role" />

		<input class="btn btn-primary" type="submit" value="Save" />
	</form>
</div>
