@model List<Person>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Manage</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var person in Model)
            {
                <tr>
                    <th scope="row">@person.Id</th>
                    <td>@person.Name</td>
                    <td>@person.Role</td>
                    <td>
                        <form>
                            <input type="text" name="id" value="@person.Id" hidden/>
                            <input class="btn btn-primary" type="submit" value="Edit" asp-action="Edit"/>
                            <input class="btn btn-danger" type="submit" value="Delete" asp-action="ConfirmDelete"/>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>